body {
	margin : 0;
	padding : 0;
	background-color : #CCC;
}
ul, li {
	margin : 0;
	padding : 0;
	list-style : none;
}
body, td, th, li, p, a, input, select {
	font-family : Verdana, serif;
	font-size : 10pt;
}
a {
	text-decoration : none;
}
.errorMsg {
	background-color : #FEE;
	border : 1px solid #A00;
	color : #A00;
	text-align : right;
	padding : 5px 15px;
}
input[type=submit] {
	border : 1px solid #888;
	background-color : #F0F0F0;
	padding : 3px 5px;
	color : #333;
	cursor : pointer;
}
input[type=submit]:disabled {
	cursor : default;
}
input[type=submit]:hover, input[type=submit]:disabled {
	color : #888;
	background-color : #F4F4F4;
	border-color : #AAA;
}
div.modal {
	position : fixed;
	width : 100%;
	height : 100%;
	z-index : 10;
	background-color : #000000;
	background-color : rgba(0,0,0,0.8);
	background-color : transparent\9;
	filter : progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
	zoom : 1;
}
div.modal .content {
	width : 300px;
	background-color : white;
	border : 1px solid #88F;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	margin : 50px auto;
	padding : 10px 20px;
	text-align : right;
}
div.modal .content input[type=text], div.modal .content select {
	width : 170px;
}
div.modal .content h1 {
	color : #44C;
	font-size : 20px;
}
div.modal .content span {
	float : left;
	margin-top : 3px;
}
div.modal .content textarea {
	width : 100%;
	height : 300px;
}
div.modal form.edit input.create {
	display : none;
}
div.modal form.create input.edit {
	display : none;
}
div.modal #col_options .values, div.modal #col_options .sheet, div.modal #col_options .custom, div.modal #col_options .disp {
	display : none;
}
div.modal #col_options a.tedit {
	display : none;
}
div.modal #col_options.t_int .disp, div.modal #col_options.t_float .disp {
	display : block;
}
div.modal #col_options.t_edit a.tedit {
	display : inline;
}
div.modal #col_options.t_edit a.tcreate {
	display : none;
}
div.modal #col_options.t_enum .values, div.modal #col_options.t_flags .values {
	display : block;
}
div.modal #col_options.t_ref .sheet {
	display : block;
}
div.modal #col_options.t_layer .sheet {
	display : block;
}
div.modal #col_options.t_custom .custom {
	display : block;
}
.modal.tileSelect .menu {
	margin-bottom : 5px;
}
.modal.tileSelect .menu input[name=size], .modal.tileSelect .menu input[name=width], .modal.tileSelect .menu input[name=height] {
	width : 30px;
}
.modal.tileSelect .tileCursor {
	position : absolute;
	z-index : 100;
	width : 16px;
	height : 16px;
	border : 1px solid black;
}
.modal.tileSelect .tileCursor.current {
	border : 2px solid red;
}
.modal.tileSelect .tileView {
	min-height : 64px;
	background-color : #eee;
	background-repeat : no-repeat;
	border : 1px solid black;
}
#newtype.modal .content {
	width : 500px;
}
div#menu {
	position : fixed;
	z-index : 9;
	background-color : #CCF;
	bottom : 0px;
	border-top : 1px solid #88F;
	height : 25px;
	width : 100%;
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
}
div#menu .errorMsg {
	z-index : 11;
	position : absolute;
	margin-top : -25px;
	right : 1px;
}
div#menu a {
	line-height : 25px;
	color : #228;
	float : right;
	margin-right : 10px;
}
div#menu a:hover {
	color : #44C;
}
div#menu ul.sheets {
	margin-top : -1px;
	margin-left : 5px;
}
div#menu ul.sheets li {
	height : 20px;
	background-color : #88F;
	padding : 2px 8px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	color : #44C;
	cursor : pointer;
	border : 1px solid #88F;
	border-top : 0px;
	border-bottom-right-radius : 5px;
	-moz-border-radius-bottomright : 5px;
	-webkit-border-bottom-right-radius : 5px;
}
div#menu ul.sheets li:hover {
	background-color : #9696FF;
}
div#menu ul.sheets li.active {
	color : #252596;
	background-color : #E0E0FF;
}
.castle .tedit {
	height : 100%;
}
.castle .tedit textarea {
	padding : 5px;
	width : 100%;
	height : 90%;
}
.castle table {
	width : 100%;
	table-layout : fixed;
	background-color : white;
	border-collapse : collapse;
	border-spacing : 0;
}
.castle table.sheet {
	padding-bottom : 300px;
}
.castle td {
	padding : 2px 4px;
	overflow : hidden;
}
.castle td.cursor {
	outline : 1px solid #555;
}
.castle td.t_image {
	cursor : pointer;
}
.castle td.t_image img {
	max-height : 64px;
}
.castle img.selected {
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
}
.castle td.start {
	min-width : 20px;
	width : 20px;
	text-align : center;
	cursor : pointer;
}
.castle tr.head td.start {
	cursor : nw-resize;
}
.castle tr.separator {
	background-color : #CCC;
	height : 10px;
}
.castle tr.separator td {
	color : #444;
	font-weight : bold;
	padding-left : 20px;
}
.castle tr.list {
	background-color : #CCC;
	border-bottom : 0px;
}
.castle tr.list tr.head {
	color : #fff;
	background-color : #777;
	font-weight : normal;
	height : 8px;
}
.castle tr.list tr {
	background-color : #EEE;
	border-color : #E0E0E0;
}
.castle tr.list input, .castle tr.list select {
	background-color : #EEE;
}
.castle tr.list tr.selected, .castle tr.list td.selected {
	background-color : #DDD;
}
.castle tr.list>td {
	padding : 0;
	padding-bottom : 5px;
}
.castle tr.clickable {
	cursor : pointer;
}
.castle tr.clickable:hover {
	background-color : #f8f8f8;
}
.castle tr.head, .castle th {
	font-weight : bold;
	text-align : center;
	border-bottom : 1px solid #888;
	background-color : #333;
	color : #EEE;
}
.castle tr.head td.display, .castle th td.display {
	font-style : italic;
}
.castle tr.selected, .castle td.selected {
	background-color : #EEE;
}
.castle td {
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	border-left : 1px solid #CCC;
}
.castle td.t_bool {
	text-align : center;
}
.castle td.t_int, .castle td.t_float {
	text-align : right;
}
.castle td.t_int input, .castle td.t_float input {
	text-align : right;
}
.castle td.t_list {
	white-space : nowrap;
	cursor : pointer;
}
.castle td.t_enum {
	padding-left : 5px;
}
.castle .flagValues {
	position : absolute;
	background-color : white;
	width : 150px;
	padding : 5px;
	border : 1px solid #333;
}
.castle .flagValues label {
	display : block;
	clear : both;
	padding : 1px;
}
.castle .flagValues label input {
	float : right;
}
.castle .flagValues label:hover {
	background-color : #eee;
}
.castle tr {
	border-bottom : 1px solid #F0F0F0;
}
.castle td.edit {
	padding : 0px;
}
.castle td.edit input {
	padding : 1px 4px;
	width : 100%;
	height : 20px;
	border : none;
}
.castle td.edit input.error {
	color : #A00;
}
.castle td.edit select {
	padding-left : 0px;
	height : 20px;
	width : 100%;
}
.castle span.error {
	color : #A00;
}
.castle .preview .previewContent {
	display : none;
	position : absolute;
	background-color : #EEE;
	border : 1px solid black;
	padding : 5px;
}
.castle .preview .previewContent .label {
	text-align : center;
	margin-bottom : 5px;
	background-color : white;
	font-family : monospace;
}
.castle .preview:hover .previewContent {
	display : block;
}
#content .level {
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
}
#content .level .palette {
	border : 1px solid #aaa;
	min-width : 385px;
	background-color : #000000;
	background-color : rgba(0,0,0,0.7);
	background-color : transparent\9;
	filter : progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
	zoom : 1;
	position : fixed;
	right : 30px;
	bottom : 60px;
}
#content .level .palette .preview {
	position : absolute;
	margin-left : -68px;
	margin-top : -1px;
	width : 64px;
	height : 64px;
	border : 1px solid #aaa;
	background-color : black;
	padding : 1px;
}
#content .level .palette .bar {
	background-color : #CCC;
	height : 16px;
	padding : 1px 2px;
	padding-bottom : 3px;
	border-bottom : 1px solid #AAA;
}
#content .level .palette .bar .icon {
	width : 16px;
	height : 16px;
	border : 1px solid #CCC;
	cursor : pointer;
	display : inline-block;
	zoom : 1;
	*display : inline;
	margin-right : 2px;
	background-repeat : no-repeat;
	opacity : 0.8;
	filter : alpha(opacity=80);
	zoom : 1;
}
#content .level .palette .bar .icon:hover {
	border-color : #888;
}
#content .level .palette .bar .icon.active {
	background-position : 0px 1px;
	background-color : #FFF;
	border-color : #FFF;
	opacity : 1;
	filter : alpha(opacity=100);
	zoom : 1;
}
#content .level .palette .bar .icon.random {
	background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8klEQVR4Xr2TMcrCQBCFd01llcob5ABWqT2ACILgDQTBlIKSlLFJq+QA1oIInsHCM3gC65/8jbC+hBdZNmOhAQe+zOwyb3Z2kmhjjGpjHfDbAlprHyzbdpChSFwVBO4QdphL5Jw6h8uFQonUwQKCvSUewW2VbL7CaS9gK3Y05ToEBffyOo/rrIrxcIv06QNwp/gEPCsnrWONQJp0D+7CIlcwgOBffI2CuAt3pvgGhqKYuO17bNew/YD7M+cKMeNGgZziAoQUp+IQOQcuGkys5DF4vMnLpO9gDeHBuuIRLlKy/ZUJHwHzgeEcvv4XEog3ZfAE5ebT+WJKBcEAAAAASUVORK5CYII=");
}
#content .level .palette .bar .icon.paint {
	background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAB3RJTUUH3gYDCgYFUrJbbgAAABd0RVh0U29mdHdhcmUAR0xEUE5HIHZlciAzLjRxhaThAAAACHRwTkdHTEQzAAAAAEqAKR8AAAAEZ0FNQQAAsY8L/GEFAAAABmJLR0QAagALAE638FflAAAAc0lEQVR4nJWSUQ7AIAhDvf+l2T7mIvBaNhNijPZJtSsiVq17xC7aT2dJ7Na/AF+6kIBnHq1I/3tMINVBA5yQZNOJK4AgsvXavoK0f3cWEFDFBDFiDTDvkTVkgSAUsBcwQSjeDeAg55nyYzqJLsIySHTDVBd+rl+9TJZX8wAAAABJRU5ErkJggg==");
}
#content .level .palette .bar .icon.create {
	background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpERjQ5QUU2RjNEMjA2ODExODhDNkNCNjMxRDc2RjgxMiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpEM0UyM0YzNDJGNkQxMUUyOERFOTgyRDM3RTA1OTdGOSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDRkE0MzQzNjJGNkQxMUUyOERFOTgyRDM3RTA1OTdGOSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OUM3MEI3MkIwQTIwNjgxMThGNjJEQ0UzOTVCQjBGNUYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6REY0OUFFNkYzRDIwNjgxMTg4QzZDQjYzMUQ3NkY4MTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4qH7YDAAAA4ElEQVR42qRTUQrDIAyVDbxKYSD0t1DYMXaP3WMgeJgORm9Q6NdgsN8eYF+FloGL4wnBql3Zgycak5iYRIglCuKF2BHfYAdZIVZwJo5Em+AInQUksYHSRDTEI+QSe4M7C13JHWhcDMQyE2EJHYuUvlDIc8KeowU5FHSdzYG/biIv+txDGB7FA4d6g4Ma8rtgHyNZ2KkqtOzT3fm1i3ifM584MwcOe7c84a3akELlU3ARXCE8id/hdW9rZWzAVBlVWJYh4iQ09o2kc62s0b68bDrXyn8PU2yce2bYp8b5I8AAKTdiXjhZA8wAAAAASUVORK5CYII=");
}
#content .level .palette .bar .icon.delete {
	background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAB3RJTUUH3gYUEAMJ+gyqgAAAABd0RVh0U29mdHdhcmUAR0xEUE5HIHZlciAzLjRxhaThAAAACHRwTkdHTEQzAAAAAEqAKR8AAAAEZ0FNQQAAsY8L/GEFAAAABmJLR0QA/wD/AP+gvaeTAAAA9UlEQVR4nKWTSwrCQAyGsxIVF9raS4iCeCUFi3fxCYJ4FZcKHkBREHTja+tCQW2r/kMzdWhrsfSHbzEzSUgyCVFQJdABK3AHD7AGPVAOsfeUBkNggTewwZGx+c4BI5DxO6fAhI1OwASa8l4ATbBnmxnIqgEG/DAHxYgsdTBl27Fas0zXiKqRZXAmL1AVF22O2PrDWarBPn1xWJDbHC3Kw6ccuc3eiMMFnJVHnaOHoWrHQQIB8n8G2IJb0hLEgHlNNGMEqJPSxLjfKOZEfmNNXiYaJKHEoywkl8lhI4vLOtB3wX4ukyrRky65HX6CK1iSu84Vv/EHvTNdpKPQEisAAAAASUVORK5CYII=");
}
#content .level .palette .bar .mode {
	vertical-align : top;
	display : inline-block;
	zoom : 1;
	*display : inline;
	line-height : 18px;
}
#content .level .palette .bar .mode label, #content .level .palette .bar .mode select, #content .level .palette .bar .mode input {
	font-size : 10px;
}
#content .level .palette .bar .mode select, #content .level .palette .bar .mode input {
	border : 1px solid #888;
	background-color : #DDD;
	height : 18px;
}
#content .level .palette .bar .mode input[type=text] {
	width : 60px;
}
#content .level .palette .bar .mode input[type=checkbox] {
	margin : 0px;
	height : 14px;
	vertical-align : -3px;
}
#content .level .palette .bar .mode select:focus, #content .level .palette .bar .mode input:focus {
	background-color : white;
}
#content .level .palette .bar .mode .opt {
	display : none;
}
#content .level .palette .bar .mode .icon {
	vertical-align : -4px;
}
#content .level .palette .bar .mode.m_exists .opt.delete {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_create .opt.create {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_create.c_border, #content .level .palette .bar .mode.m_border {
	min-width : 430px;
}
#content .level .palette .bar .mode.m_ground .opt.name, #content .level .palette .bar .mode.m_ground .opt.priority {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_group .opt.name {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_group .opt.name input {
	width : 86px;
}
#content .level .palette .bar .mode.m_group .opt.value {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_border .opt.border_in, #content .level .palette .bar .mode.m_border .opt.border_out, #content .level .palette .bar .mode.m_border .opt.border_mode {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_ref .opt.refList {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .bar .mode.m_value .opt.value {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .palette .content {
	padding : 10px;
}
#content .level .palette .select {
	position : absolute;
}
#content .level .menu {
	background-color : #EEE;
	min-height : 60px;
}
#content .level .menu .options {
	float : right;
}
#content .level .menu ul.layers {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .menu ul.layers li {
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .menu ul.layers li.placeholder {
	height : 60px;
	width : 20px;
	padding : 10px;
	background-color : #DDD;
}
#content .level .menu .item.hidden {
	opacity : 0.5;
	filter : alpha(opacity=50);
	zoom : 1;
}
#content .level .menu .item {
	padding : 10px;
	display : inline-block;
	zoom : 1;
	*display : inline;
	min-width : 100px;
	text-align : center;
	cursor : pointer;
	height : 60px;
	vertical-align : top;
}
#content .level .menu .item .img, #content .level .menu .item .imglist {
	display : inline-block;
	zoom : 1;
	*display : inline;
	background-color : #EEE;
	padding : 3px;
	border : 1px solid black;
}
#content .level .menu .item .img img, #content .level .menu .item .imglist img {
	width : 32px;
}
#content .level .menu .item .imglist {
	z-index : 9;
	position : absolute;
	margin-left : -40px;
	margin-top : 45px;
}
#content .level .menu .item .imglist img {
	background-color : #FFF;
	margin-right : 5px;
}
#content .level .menu .item .img:hover {
	border-color : orange;
}
#content .level .menu .item:hover {
	background-color : #FFF;
}
#content .level .menu .item.selected {
	background-color : #FFF;
	border : 1px solid #888;
	padding : 9px;
}
#content .level .menu span {
	display : block;
	padding : 5px;
}
#content .level .submenu {
	padding : 5px;
	border-bottom : 1px solid black;
	padding-left : 20px;
	vertical-align : top;
}
#content .level .submenu .item {
	line-height : 32px;
	height : 32px;
	margin-right : 30px;
	display : inline-block;
	zoom : 1;
	*display : inline;
}
#content .level .submenu .item input[type=range] {
	width : 50px;
	vertical-align : -5px;
}
#content .level .submenu .item input[name=size] {
	width : 30px;
}
#content .level .submenu .item .sp_replacer {
	vertical-align : 2px;
}
#content .level .submenu .item input[type=text], #content .level .submenu .item select {
	background-color : #DDD;
	border : 1px solid #888;
}
#content .level .submenu .item input[type=text]:focus, #content .level .submenu .item select:focus {
	background-color : white;
}
#content .level .submenu.newlayer {
	display : none;
}
#content .level .submenu.options {
	display : none;
}
#content .level .submenu.options .item {
	width : auto;
}
#content .level .submenu.options input[type=text] {
	width : 40px;
}
#content .level #cursor {
	position : absolute;
}
#content .level #cursor.select {
	border : 1px solid #2E517E;
	background-color : #5BA1FB;
	background-color : rgba(91,161,251,0.5);
	background-color : transparent\9;
	filter : progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F5BA1FB, endColorstr=#7F5BA1FB);
	zoom : 1;
}
#content .level #cursor, #content .level .scroll canvas {
	cursor : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAB3RJTUUH3gYSDw4zu7+27gAAABd0RVh0U29mdHdhcmUAR0xEUE5HIHZlciAzLjRxhaThAAAACHRwTkdHTEQzAAAAAEqAKR8AAAAEZ0FNQQAAsY8L/GEFAAAABmJLR0QA/wD/AP+gvaeTAAAAEUlEQVR4nGNgQAP/wQAbBw4ANwsL9efVyGMAAAAASUVORK5CYII="),auto;
}
#content .level .scroll {
	padding : 15px;
	background-color : #666;
	overflow : scroll;
}
#content .level .scroll .scrollContent {
	position : relative;
}
#content .level .scroll .popup {
	z-index : 1;
	position : absolute;
	background-color : white;
	border : 1px solid black;
}
#content .level .scroll .popup table {
	width : auto;
}
#content .level .scroll .popup th {
	min-width : 80px;
}
#content .level .scroll .popup td {
	min-width : 160px;
}
