/*.cdb

/bin/*.dll

/bin/*.exe

/bin/nw.pak

/bin/credits.html

/new.img

/src/test/test.js

/src/test/test.swf

/bin/castle.js.map
/bin/Release.n
/bin/*.zip
/bin/package.nw
/bin/*.tgz
/www/file
/bin/style.min.css

/bin/icudtl.dat

/www/sample
